.table {
    margin-bottom: 5vh;
    border-style: solid;
    min-width: 83vw;
    border-radius: 2vw;
    padding: 2%;
}

.tableBodyCellKey {
    width: 20vw;
    border-style: solid;
    border-color: transparent;
    border-bottom-width: 1vh;
    vertical-align: top;
    font-weight: bold;
}

.tableBodyCellValue {
    text-align: justify;
    border-style: solid;
    border-color: transparent;
    border-bottom-width: 1vh;
}

.tableBodyCellValueLink {
    color: skyblue;
}

.tableHeadCell {
    min-width: 20vw;
}

.title {
    text-decoration: underline;
}

.title:hover {
    cursor: pointer;
    color: blue;
    text-decoration: none;
}

.active {
    color: blue;
    text-decoration: none;
}

.active:hover {
    color: white;
    text-decoration: underline;
}

.helperText {
    font-size: 1vw;
}