.skillsTableCell {
    border-left-style: solid;
    border-left-color: transparent;
    border-left-width: 1vw;
}

.skillsTable {
    margin: auto;
    padding: 1%;
}

.image {
    max-width: 100%;
    height: auto;
}